:root {
    --azulado: #0097A7;
    --oscuro: rgb(28, 25, 49);
    --beige: #f8f2cb;
    --turquesa: #19dff1;
    --facebook: #3b5999;
    --instagram: #e4405f;
    --linkedin: #0077B5;
    --whatsapp: #25D366;
    --colorLindo: #1D7874;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 300vh;   
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

nav{
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 1px 10px rgb(66, 66, 66);
    z-index: 2;
}

.logo{
    height: 80px;
    width: 300px;
    padding: 0;
    cursor: pointer;
}

.logo img{
    width: 100%;
    height: 100%;
}

@media(max-width: 1000px){
    nav a:not(.logo){
        display: none;
    }

    .logo{
        width: 300px;
    }
}

nav a:not(:first-child) {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 420;
    color: black;
    border-bottom: 1px solid white;
    text-decoration: none;
    font-size: 0.9rem;
    height: 27%;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s, color .3s ease;
}

nav a:hover:not(.logo){
    color: var(--colorLindo);
    background-size: 100% 2px;
}

@media (max-width: 768px) {
    .menu:hover .submenu {
       position: relative;
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.encabezado1{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    /*background-color: #71d7cc;*/
    background-image: linear-gradient(to left, #44bdb3,#1b5453);
    width: 100%;
    height: fit-content;
}

.seccion1{
    padding: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    transition: padding 0.3s ease, width 0.3s ease;
}

.seccion1 h1{
    color: white;
    width: fit-content;
    padding: 0;
    margin: 0;
    text-align: start;
    margin-bottom: 0.5rem;
    font-size: 3em;
    @keyframes wipe-in-left {
        from {
          clip-path: inset(0 0 0 100%);
        }
        to {
          clip-path: inset(0 0 0 0);
        }
      }
      
      [transition-style="in:wipe:left"] {
        animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-left both;
      }
}

.seccion1 p{
    opacity: 1;
    display: block;
    width: 100%;
    padding: 1px;
    margin: 0;
    font-size: 1.1rem;
    color: white;
    transition: font-size 0.3s ease, opacity 0.3s ease;
}

.seccion2{
    padding: 1%;
    margin: 0;
    background-color:#1b5453;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 12;
    cursor: pointer;
    transition: padding 0.3s ease, width 0.3s ease;
}

.seccion2 h1{
    color: white;
    font-size: 1rem;
    transition: font-size 0.3s ease;
}

.seccion2 p{
    opacity: 0;
    display: none;
    align-self: center;
    transition: font-size 0.3s ease, opacity 0.3s;
}

.seccion2:hover h1{
    font-size: 1.1rem;
}

.carrusel{
    padding: 0;
    width: 100%;
    height: 60%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrusel img{
    display: block;
    width: 100%;
}

.pie {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--colorLindo);
    margin-top: auto;
}

.pie li{
    list-style-type: none;
}

.redes-container{
display: flex;
height: auto;
align-items: center;
justify-content: center;
}

.redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}
 
.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background: var(--turquesa) ;
    color: #FFFFFF;
    line-height: auto;
    font-size: 8px;
    box-shadow: 0 6px 15px 0px rgba(252, 255, 255, 0.319);
    border-radius: 5%;
    transition: .2s;
}

.redes-container ul:hover a  {
    filter: blur(2px);
}

.redes-container ul li a:hover{
transform: translateY(-3px) scale(1.06);
box-shadow: 0 6px 15px 0px rgba(252, 253, 253, 0.945);
filter: none;
}

.redes-container ul li .facebook:hover{
    background: var(--facebook);
}
.redes-container ul li .instagram:hover{
    background: var(--instagram);
}

.redes-container ul li .whatsapp:hover{
    background: var(--whatsapp);
}

.navfooter ul{
        list-style-type: none; 
        text-align: center;
    }
    .navfooter li {
        display: inline-block; / Hacer que los elementos de la lista se muestren en línea */
        margin-right: 15px;
        margin-bottom: 10px;
    }
    .navfooter a{
        color: var(--turquesa);
        transition: .2s;
    }
    .navfooter a:hover{
     color: #FFFFFF;
    }