:root {
    --azulado: #0097A7;
    --oscuro: rgb(28, 25, 49);
    --beige: #f8f2cb;
    --turquesa: #19dff1;
    --facebook: #3b5999;
    --instagram: #e4405f;
    --linkedin: #0077B5;
    --whatsapp: #25D366;
    --colorLindo: #1D7874;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 230vh;   
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

nav{
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
    z-index: 2;
}

.contenedor-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.contenedor-logo{
    height: 80px;
    width: 300px;
    padding: 0;
    cursor: pointer;
}

.logo img{
    width: 100%;
    height: 100%;
}

nav a:not(.logo), .nombre-perfil{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 420;
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
    height: 27%;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s, color .3s ease;
}

nav a:hover:not(.logo), .pie a:hover{
    color: var(--colorLindo);
    background-size: 100% 2px;
}

.contenedor-perfil{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    justify-content: center;
    width: fit-content;
    padding: 0;
    margin-bottom: 0;
    margin-right: 10px;
    text-transform: uppercase;
}

.profile-circle {
    font-weight: 420;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--colorLindo); 
    margin-right: 15px;
    transition: height 0.3s ease, width 0.3s ease;
}

.contenedor-perfil:hover .profile-circle{
    height: 50px;
    width: 50px;
}

.contenedor-perfil:hover .nombre-perfil{
    color: var(--colorLindo);
    background-size: 100% 2px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.encabezado1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to left, #44bdb34d, #1b54534d), url('../img/fondoinicio.jpg');
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 25%;
}

.seccion-turnos{
    margin: 0px 30px 0px 30px;
    height: 80%;
    width: 20%;
    display: flex;
    flex-flow: row wrap;
}

.seccion{
    cursor: pointer;
    background-color: white;
    border-radius: 14px;
    box-shadow: 1px 1px 10px rgb(58, 58, 58);
    height: 6rem;
    width: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    transition: height 0.2s ease, width 0.2s ease, color 0.2s ease;
    margin-left: 15px;
}

.icono{
    margin-top: auto;
    margin-bottom: auto;
}

.texto{
    font-weight: 420;
    font-size: 0.8em;
    padding: 0;
    position: relative;
}

.seccion:hover{
    width: 7.2rem;
    height: 6.2rem;
    color: #44bdb3;
}

.saludo{
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
    width: 80%;
    text-align: center;
    color: white;
}

.pie{
    padding-top: 1rem;
    z-index: 2;
    box-shadow: 0px -1px 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: black;
    background-color: white;
    height: 13%;
    margin-top: auto;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 1rem;
}

.tyc{
    padding: 0.5em;
    width: 100%;
    height: 100%;
    text-align: center;
    align-self: flex-end;
    color: var(--colorLindo);
    background-color: rgba(0, 0, 0, 0.041);
}

.seccion-nav{
    font-size: 1em;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.seccion-nav div{
    display: flex;
    flex-direction: column;
}

.titulo-sec{
    margin-bottom: 0;
    text-align: left;
    font-weight: 600;
    color: var(--colorLindo);
}

.pie .seccion-nav a{
    text-decoration: none;
    color: black;
    font-weight: 420;
    background-image: linear-gradient(currentColor,currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s, color .3s ease;
    font-size: 0.8em;
    list-style-type: none;
    text-align: left;
    cursor: pointer;
    width: fit-content;
}

.pie .seccion-nav a:hover{
    color: var(--colorLindo);
    background-size: 100% 2px;
}

@media(max-width: 1000px){
    nav a:not(.logo){
            display: none;
    }
    
    .logo{
            width: 300px;
    }
    
    .encabezado1{
            height: fit-content;
    }
}