<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/inicio.css">
    <title>Inicio - Sanatorio Vitalis</title>
</head>

<body>

<nav class="">
    <a class="logo" href="/inicio">
        <img src="/img/logoColor.png" alt="" class="logo">
    </a>
    <div class="links-nav">
        <a id="link_prof" href="/profesional/especialidad" class="dropdown">Especialidades</a>
        <div id="desplegable" class="dropdown-content">
            <a th:if="${#authorization.expression('hasAnyRole(''PACIENTE'', ''PROFESIONAL'', ''ADMIN'')')}"
               th:href="@{${'/'+#strings.toLowerCase(session.usuariosession.rol)+'/perfil/'+ session.usuariosession.id }}">
                Editar Perfil </a>
            <a href="/logout">Cerrar sesión</a>
        </div>
        <div class="contenedor-perfil" id="contenedor-perfil">
            <div class="nombre-perfil">
                <i id="icono" class="fa-solid fa-angle-down"></i>
                <span th:text="${session.usuariosession.nombre} + ' ' + ${session.usuariosession.apellido}"></span>
            </div>
            <div id="profile-circle">
                <!-- Logica para tener un link dinamico a diferentes rutas segun el rol de sesion&ndash -->
                <img class="profile-circle" th:if="${session.usuariosession.imagen != null}"
                     th:src="@{/imagen/perfil/{id}(id=${session.usuariosession.id})}">
                <img class="profile-circle" th:unless="${session.usuariosession.imagen != null}"
                     th:src="@{/img/usuario.jpg}">
            </div>
        </div>
    </div>
</nav>

<main>

    <div class="encabezado1">

        <div class="seccion-turnos">
            <div class="seccion">
                <div class="icono">
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor"
                         class="bi bi-calendar-plus" viewBox="0 0 16 16">
                        <path
                                d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                        <path
                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    </svg>
                </div>
                <div class="texto">Nuevo turno</div>
            </div>
            <div class="seccion">
                <div class="icono">
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor"
                         class="bi bi-calendar-heart" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5ZM1 14V4h14v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1Zm7-6.507c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                    </svg>
                </div>
                <div class="texto">Ver turnos</div>
            </div>
            <div class="seccion">
                <div class="icono">
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor"
                         class="bi bi-clipboard2-pulse" viewBox="0 0 16 16">
                        <path
                                d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5h3Z"/>
                        <path
                                d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-12Z"/>
                        <path
                                d="M9.979 5.356a.5.5 0 0 0-.968.04L7.92 10.49l-.94-3.135a.5.5 0 0 0-.926-.08L4.69 10H4.5a.5.5 0 0 0 0 1H5a.5.5 0 0 0 .447-.276l.936-1.873 1.138 3.793a.5.5 0 0 0 .968-.04L9.58 7.51l.94 3.135A.5.5 0 0 0 11 11h.5a.5.5 0 0 0 0-1h-.128L9.979 5.356Z"/>
                    </svg>
                </div>
                <div class="texto">Mis estudios</div>
            </div>
            <div class="seccion">
                <div class="icono">
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor"
                         class="bi bi-person-heart" viewBox="0 0 16 16">
                        <path
                                d="M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276Z"/>
                    </svg>
                </div>
                <div class="texto">
                    Grupo familiar
                </div>
            </div>

        </div>

        <div class="saludo">
            <h1>BIENVENIDO, Administrador</h1>
        </div>

    </div>
</main>
<section class="pacientes container">
    <h2 class="text-center mt-5">Pacientes Activos</h2>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th >Nombre</th>
            <th>Sexo</th>
            <th>Nº Afiliado</th>
            <th>Activo</th>
            <th>Teléfono</th>
            <th>Tipo de Usuario</th>
        </tr>
        </thead>
        <tbody th:each="pacienteActivo : ${pacientesActivos}">
        <tr>
            <td>
                <div class="d-flex align-items-center">
                    <img class="rounded-circle" style="width: 45px; height: 45px;" alt="Avatar" th:src="@{/imagen/perfil/__${pacienteActivo.id}__}"/>
                    <div class="ms-3">
                        <p class="fw-bold mb-1" th:text="${pacienteActivo.nombre + ' ' + pacienteActivo.apellido}"></p>
                        <p class="text-muted mb-0" th:text="${pacienteActivo.email}"></p>
                    </div>
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1" th:text="${pacienteActivo.sexo}"></p>
            </td>
            <td>
                <p class="text-muted mb-0" th:text="${pacienteActivo.numeroObraSocial}"></p>
            </td>
            <td>
                <span class="badge badge-success " th:text="${pacienteActivo.altaSistema}"></span>

            </td>
            <td>
                <p class="text-muted mb-0" th:text="${pacienteActivo.telefono}"></p>
            </td>

            <td class="badge bg-primary text-white m-4" th:text="${pacienteActivo.rol}"></td>
        </tr>
        </tbody>
    </table>
    <div class="mt-2" th:if="${not #strings.isEmpty(error)}">
        <p class="text-center"><span th:text="${error}"></span></p>
    </div>


    <table class="table table-sm table-bordered w-75 m-auto mt-5 text-center">
        <h2 class="text-center mt-5">Pacientes Acciones</h2>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">DNI</th>
            <th scope="col">Email</th>
            <th scope="col">Sexo</th>
            <th scope="col">Nº Afiliado</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Activo</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Tipo de Usuario</th>
            <th scope="col">Foto Perfil</th>
            <th scope="col" sec:authorize="hasRole('ADMIN')">Modificar</th>
            <th scope="col" sec:authorize="hasRole('ADMIN')">Dar de baja</th>
        </tr>
        </thead>
        <tbody th:each="paciente : ${pacientes}">
        <tr>
            <th scope="row" th:text="${paciente.id}"></th>
            <td th:text="${paciente.dni}"></td>
            <td th:text="${paciente.email}"></td>
            <td th:text="${paciente.sexo}"></td>
            <td th:text="${paciente.numeroObraSocial}"></td>
            <td th:text="${paciente.nombre}"></td>
            <td th:text="${paciente.apellido}"></td>
            <td th:text="${paciente.altaSistema}"></td>
            <td th:text="${paciente.telefono}"></td>
            <td class="badge bg-primary text-white m-2" th:text="${paciente.rol}"></td>
            <td>
                <img class="rounded-3"  style="width: 32px;"
                     alt="Avatar" th:src="@{/imagen/perfil/__${paciente.id}__}"/>
            </td>
            <td><a sec:authorize="hasRole('ADMIN')" th:href="@{/paciente/perfil/__${paciente.id}__}">
                <button type="button" class="btn btn-warning btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-pencil-square mb-1" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd"
                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                    Modificar
                </button>
            </a></td>
            <td><a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/usuario/baja/__${paciente.id}__}">
                <input type="hidden" th:value="${paciente.id}" name="id">
                <button type="button" class="btn btn-danger btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-pencil-square mb-1" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd"
                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                    Eliminar
                </button>
            </a></td>
        </tbody>
    </table>

    <table class="table table-sm table-bordered w-75 m-auto mt-5 text-center">
        <h2 class="text-center mt-5">Usuario Acciones</h2>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">DNI</th>
            <th scope="col">Fecha de nacimiento</th>
            <th scope="col">Sexo</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Email</th>
            <th scope="col">Rol</th>
            <th scope="col">Fecha de alta</th>
            <th scope="col">ID Imagen</th>
            <th scope="col" sec:authorize="hasRole('ADMIN')">Estado</th>
            <th scope="col" sec:authorize="hasRole('ADMIN')">Dar de baja</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody th:each="usuario : ${usuarios}">
        <tr>
            <th scope="row" th:text="${usuario.id}"></th>
            <td th:text="${usuario.nombre}"></td>
            <td th:text="${usuario.apellido}"></td>
            <td th:text="${usuario.dni}"></td>
            <td th:text="${usuario.fechaNacimiento}"></td>
            <td th:text="${usuario.sexo}"></td>
            <td th:text="${usuario.telefono}"></td>
            <td th:text="${usuario.email}"></td>
            <td class="badge bg-primary text-white m-2"
                th:classappend="${usuario.rol eq 'admin'} ? 'bg-danger' : ''"
                th:text="${usuario.rol}"></td>
            <td th:text="${#temporals.format(usuario.fechaAlta, 'dd/MM/yyyy HH:mm:ss')}"></td>
            <td>
                <img class="rounded-3"  style="width: 50px;"
                     alt="Avatar" th:src="@{/imagen/perfil/__${usuario.id}__}"/>
            </td>
            <td th:text="${usuario.altaSistema}"></td>
            <td><form th:action="@{/admin/dashboard/cambiar-rol}" method="post" class="form-inline-sm mt-3">
                <div class="input-group">
                    <label class="input-group-text sm" for="inputGroupSelect">Rol</label>
                    <select class="form-select-sm p-0" id="inputGroupSelect" name="rol">
                        <option selected>Elige...</option>
                        <option th:each="rol : ${roles}" th:value="${rol}" th:text="${rol}"></option>
                    </select>
                    <input type="hidden" name="id" th:value="${usuario.id}" />
                    <button type="submit" class=" btn btn-secondary btn-sm  me-2"><i class="bi bi-person-rolodex"></i> Guardar</button>
                </div>
            </form></td>
            <td>
                <div class="container p-2">
                    <!--  Logica para tener un link dinamico a diferentes rutas segun el rol de usuario-->
                    <!--
                    <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                       th:href="@{${'/'+#strings.toLowerCase(usuario.rol)+'/perfil/' + usuario.id}}">
                    -->
                    <a th:if="${#authorization.expression('hasAnyRole(''ADMIN'')')}"
                       th:href="@{${'/'+#strings.toLowerCase(usuario.rol)+'/perfil/' + usuario.id}}"
                       method="GET">
                        <button type="submit" class="btn btn-warning btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-square mb-1" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd"
                                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                            Modificar Usuario
                        </button>
                    </a>
                </div>
                <div class="container">
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/usuario/baja/__${usuario.id}__}">
                        <input type="hidden" th:value="${id}" name="id">
                        <button type="button" class="btn btn-danger btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-square mb-1" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd"
                                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                            Eliminar
                        </button>
                    </a>
                </div>
            </td>
        </tbody>
    </table>
</section>

<footer class="pie mt-5">
    <div class="links">
        <div class="seccion-nav">
            <p class="titulo-sec">Nosotros</p>
            <div>
                <a>Autoridades</a>
                <a>Preguntas frecuentes</a>
                <a>Términos y condiciones</a>
            </div>
        </div>
        <div class="seccion-nav">
            <p class="titulo-sec">Pacientes</p>
            <div>
                <a href="#seccion1" onclick="cambiarCartel('pac')">Información</a>
                <a>Lorem ipsum</a>
                <a>Lorem ipsum</a>
            </div>
        </div>
        <div class="seccion-nav">
            <p class="titulo-sec">Profesionales</p>
            <div>
                <a href="#seccion2" onclick="cambiarCartel('prof')">Información</a>
                <a>Lorem ipsum</a>
                <a>Lorem ipsum</a>
            </div>
        </div>
        <div class="seccion-nav">
            <p class="titulo-sec">Contacto</p>
            <div>
                <a>Lorem ipsum</a>
                <a>Lorem ipsum</a>
                <a>Lorem ipsum</a>
            </div>
        </div>
    </div>
    <div class="tyc">
        &copy; 2023 Sanatorio Vitalis. Todos los derechos reservados.
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="/js/scriptInicio.js"></script>
</body>

</html>
