<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Historias Clínicas</title>
    <link rel="stylesheet" href="../static/css/inicio.css">
    <link rel="icon" type="image/png" href="/img/logo.png">
</head>
<body>
    <h1>Consulta de Historias Clínicas</h1>
    
    <form th:action="@{/buscarHistorias}" method="get">
        <label for="dniInput">Ingrese el número de DNI:</label>
        <input type="text" id="dniInput" name="dni">
        <button type="submit">Buscar</button>
    </form>

    <div>
        
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Paciente</th>
                <th>Fecha</th>
                <th>Detalle</th>
            </tr>
            <tr th:each="historia : ${historiasClinicas}">
                <td th:text="${historia.id}"></td>
                <td th:text="${historia.paciente}"></td>
                <td th:text="${historia.fecha}"></td>
                <td th:text="${historia.detalle}"></td>
            </tr>
        </table>
    </div>

    <!-- Agrega tus enlaces a archivos de scripts si es necesario -->
</body>
</html>
