<!DOCTYPE html>
 <html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/editar.css">
</head>
 <body>
    <nav class="">
        <a class="logo" href="/">
            <img src="../static/img/logoColor.png" alt="" class="logo">
        </a>
        <a href="">Volver a Inicio</a>
      </nav>
      <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                  <form th:action="@{/paciente/perfil/__${paciente.id}__}" method="POST" enctype="multipart/form-data">
                      <input hidden th:value="${id}" name="id">
                      <div class="profile-image">
                          <img th:src="@{/imagen/paciente/perfil/{id}(id=${session.usuariosession.id})}" alt="Imagen de perfil">
                     </div>
                   <div class="mb-3">
                     <label for="formFile" class="form-label">Cambiar foto de Perfil.</label>
                     <input class="form-control" type="file" id="formFile" name="archivo">
                   </div>

                     <label for="nombre">Nombre:</label>
                     <input type="text" id="nombre" name="nombre" placeholder="Nombre" th:placeholder="${paciente.nombre}" readonly>

                    <label for="apellido">Apellido:</label>
                    <input type="text" id="apellido" name="apellido" placeholder="Apellido" th:placeholder="${paciente.apellido}" readonly>

                    <label for="dni">DNI:</label>
                    <input type="text" id="dni" name="dni" placeholder="DNI" th:placeholder="${paciente.dni}" readonly>

                    <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                    <input type="date" id="fechaNacimiento" name="fechaNacimiento" th:placeholder="${paciente.fechaNacimiento}" readonly>

                    <label for="email">Correo Electrónico:</label>
                    <input type="email" id="email" name="email" placeholder="Correo Electrónico" required>

                    <label for="telefono">Teléfono:</label>
                    <input type="tel" id="telefono" name="telefono" placeholder="Teléfono" required>
                 
                   <label for="sexo">Sexo:</label>

                   <select id="sexo" name="sexo" required>
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="femenino">Otros</option>
                   </select>

                      <div class="form-group my-3">
                          <input type="password" class="form-control" name="password" placeholder="PASSWORD">
                      </div>
                      <div class="form-group my-3">
                          <input type="password" class="form-control" name="password2" placeholder="REPETIR PASSWORD">
                      </div>
                      
                    <label class="mt-3" for="obraSocial">Obra social:</label>
                    <input type="text" id="obra Social" name="obraSocial" placeholder="Obra Social" >
                    <label for="afiliado">Número de Afiliado:</label>
                    <input type="tel" id="afiliado" name="afiliado" placeholder="Numero de Afiliado" >
                    <button type="submit" class="btn btn-custom-color  btn-block mt-3">Guardar cambios</button>
                 
                  </form>
            
            
        </div>
      </div>
    </div>
   </div>
   </div>
   <footer class="pie">
        <div class="links">
              <div class="seccion-nav">
               <p class="titulo-sec">Nosotros</p>
                <div>
                  <a>Preguntas frecuentes</a>
                </div>
              </div>
        <div class="seccion-nav">
            <p class="titulo-sec">Pacientes</p>
            <div>
                <a href="#seccion1" onclick="cambiarCartel('pac')">Información</a>
            </div>
        </div>
        <div class="seccion-nav">
            <p class="titulo-sec">E-mail</p>
            <div>
                <a href="mailto:tudireccion@gmail.com">
                  <i class="fas fa-envelope"></i> info@sanatoriovitalis.com
                </a> 
              </div>
        </div>
        <div class="seccion-nav">
            <p class="titulo-sec">Contacto</p>
            <div>
              <a href="tu-link-de-WhatsApp" target="_blank">
                <i class="fab fa-whatsapp"></i> 11-1234-5678
              </a>              
            </div>
        </div>
      </div>
        <div class="tyc">
          &copy; 2023 Sanatorio Vitalis. Todos los derechos reservados.
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
    <script src="/js/scriptLogin.js"></script>
  </body>  
</html>
