<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Especialidades Médicas</title>
    <link rel="stylesheet" href="/css/especialidad.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">



</head>

<body>
    <nav class="">
        <a class="logo" href="/">
            <img src="../static/img/logoColor.png" alt="" class="logo">
        </a>
        <a href="/">Volver a Inicio</a>
        
    </nav>
    <section class="banner-especialidad">
        <div>
            <h1>Especialidades Médicas</h1>
            <p>Home / Pacientes / Especialidades</p>
        </div>
    </section>
    <section class="busqueda">
        <form>
            <input type="text" placeholder="Buscar Especialidades...">
            <button type="submit">Buscar</button>
        </form>
    </section><br><br>
    <section class="filtro-letras">
        <h4>Las especialidades están ordenadas alfabéticamente. Elija la letra de la especialidad que desea consultar:</h4>
        <button onclick="mostrarEspecialidades('A-B')">A-B</button>
        <button onclick="mostrarEspecialidades('C')">C</button>
        <button onclick="mostrarEspecialidades('D-E')">D-E</button>
        <button onclick="mostrarEspecialidades('F-G')">F-G</button>
        <button onclick="mostrarEspecialidades('H-I-K')">H-I-K</button>
        <button onclick="mostrarEspecialidades('L-M')">L-M</button>
        <button onclick="mostrarEspecialidades('N')">N</button>
        <button onclick="mostrarEspecialidades('O-P')">O-P</button>
        <button onclick="mostrarEspecialidades('R-S')">R-S</button>
        <button onclick="mostrarEspecialidades('T-U')">T-U</button>

    </section><br><br><br>
    <section id="especialidades-container"class="centrado">
        <!-- Aquí se mostrarán las especialidades -->
        <ul id="lista-especialidades"></ul>
    </section>
    <footer class="pie">
        <div class="links">
            <div class="seccion-nav">
                <p class="titulo-sec">Nosotros</p>
                <div>
                    <a>Preguntas frecuentes</a>
    
                </div>
            </div>
            <div class="seccion-nav">
                <p class="titulo-sec">Pacientes</p>
                <div>
                    <a href="#seccion1" onclick="cambiarCartel('pac')">Información</a>
                </div>
            </div>
            <div class="seccion-nav">
                <p class="titulo-sec">E-mail</p>
                <div>
                    <a href="mailto:tudireccion@gmail.com">
                        <i class="fas fa-envelope"></i> info@sanatoriovitalis.com
                    </a>
                </div>
            </div>
            <div class="seccion-nav">
                <p class="titulo-sec">Contacto</p>
                <div>
                    <a href="tu-link-de-WhatsApp" target="_blank">
                        <i class="fab fa-whatsapp"></i> 11-1234-5678
                    </a>
                </div>
            </div>
        </div>
            <div class="tyc">
                &copy; 2023 Sanatorio Vitalis. Todos los derechos reservados.
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/js/scriptEspecialidad.js"></script>
</body>

</html>