<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Especialidades Médicas</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">

</head>

<body>
    <section class="banner-especialidad">
        <div>
            <h1>Especialidades Médicas</h1>
            <p>Home / Pacientes / Especialidades</p>
        </div>
    </section>
    <section class="busqueda">
        <form>
            <input type="text" placeholder="Buscar Especialidades...">
            <button type="submit">Buscar</button>
        </form>
    </section><br><br>
    <section class="filtro-letras">
        <h4>Las especialidades están ordenadas alfabéticamente. Elija la letra de la especialidad que desea consultar:</h4>
        <button onclick="mostrarEspecialidades('A-B')">A-B</button>
        <button onclick="mostrarEspecialidades('C')">C</button>
        <button onclick="mostrarEspecialidades('D-E')">D-E</button>
        <button onclick="mostrarEspecialidades('F-G')">F-G</button>
        <button onclick="mostrarEspecialidades('H-I-K')">H-I-K</button>
        <button onclick="mostrarEspecialidades('L-M')">L-M</button>
        <button onclick="mostrarEspecialidades('N')">N</button>
        <button onclick="mostrarEspecialidades('O-P')">O-P</button>
        <button onclick="mostrarEspecialidades('R-S')">R-S</button>
        <button onclick="mostrarEspecialidades('T-U')">T-U</button>

    </section><br><br><br>
    <section id="especialidades-container"class="centrado">
        <!-- Aquí se mostrarán las especialidades -->
        <ul id="lista-especialidades"></ul>
    </section>
    <footer>
        <div class="footer-seccion">
            <h3>SEDE</h3>
            <h4>Av. Independecia 1421</h4>
         
        </div>

        <div class="footer-seccion">
            <h3>CONTACTO</h3>
            <h4>Número de contacto</h4>
            <p>011-123456789</p>
        </div>

        <div class="footer-seccion">
            <h3>NOS ACOMPAÑAN</h3>
            <p>OSDE</p>
            <p>MET</p>
            <p>SIPPSA</p>
            
        </div>
    </footer>
    <script src="script.js"></script>
</body>

</html>