<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>WebApp</title>
</head>
<body>
    <header>
        <img src="img/logo/logo.jpeg" alt="logo" class="logo">
        <nav class="navegacion-principal">
            <a class="nav-link tipografia" href="./index.html">Inicio</a></li>
            <div class="menu">
                <a class="nav-link tipografia" href="#">nav1</a>
                <div class="submenu">
                    <a class="nav-link tipografia" href="#">A</a>
                    <a class="nav-link tipografia" href="#">B</a>
                    <a class="nav-link tipografia" href="#">C</a>
                </div>
            </div>
            <div class="menu">
                <a class="nav-link tipografia" href="#">nav2</a>
                <div class="submenu">
                    <a class="nav-link tipografia" href="#">A</a>
                    <a class="nav-link tipografia" href="#">B</a>
                    <a class="nav-link tipografia" href="#">C</a>
                    <a class="nav-link tipografia" href="#">D</a>
                    <a class="nav-link tipografia" href="#">E</a>
                </div>
            </div>
            <div class="menu">
                <a class="nav-link tipografia" href="#">nav3</a>
                <div class="submenu">
                    <a class="nav-link tipografia" href="#">A</a>
                    <a class="nav-link tipografia" href="#">B</a>
                </div>
            </div>
            <a class="nav-link tipografia" href="#">nav4</a>
        </nav>
    </header>
    <main>

    </main>
</body>
</html>