<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>WebApp</title>
</head>
<body>
    <header>
        <nav class="navegacion-principal">
            <img src="" alt="">
            <div class="menu">
                <a class="nav-link tipografia" href="#">nav1</a>
                <div class="submenu">
                    <a class="nav-link tipografia" href="#">A</a>
                    <a class="nav-link tipografia" href="#">B</a>
                    <a class="nav-link tipografia" href="#">C</a>
                </div>
            </div>
            <div class="menu">
                <a class="nav-link tipografia" href="#">nav2</a>
                <div class="submenu">
                    <a class="nav-link tipografia" href="#">A</a>
                    <a class="nav-link tipografia" href="#">B</a>
                    <a class="nav-link tipografia" href="#">C</a>
                    <a class="nav-link tipografia" href="#">D</a>
                    <a class="nav-link tipografia" href="#">E</a>
                </div>
            </div>
            <div class="menu">
                <a class="nav-link tipografia" href="#">nav3</a>
                <div class="submenu">
                    <a class="nav-link tipografia" href="#">A</a>
                    <a class="nav-link tipografia" href="#">B</a>
                </div>
            </div>
            <a class="nav-link tipografia" href="#">nav4</a>
        </nav>
    </header>
    <main>

    </main>

    <footer class="pie">
        <div class="seccion1">
            Seccion 1
            <ul>
                <li>a</li>
                <li>b</li>
                <li>c</li>
                <li>d</li>
            </ul>
        </div>
        <div class="seccion1">
            Seccion 2
            <ul>
                <li>a</li>
                <li>b</li>
                <li>c</li>
                <li>d</li>
            </ul>
        </div>
        <div class="seccion1">
            Seccion 3
            <ul>
                <li>a</li>
                <li>b</li>
                <li>c</li>
                <li>d</li>
            </ul>
        </div>
        <div class="redes-container">
            <ul>
                <li> <a href="#" class="facebook"><img src="img/redes/facebook-circle-logo-24.png" alt="Facebook"></a>
                </li>
                <li> <a href="#" class="instagram"><img src="img/redes/instagram-alt-logo-24.png" alt="Instagram"></a>
                </li>
                <li> <a href="#" class="whatsapp"><img src="img/redes/whatsapp-logo-24.png" alt="Whatsapp"></a></li>
                <!-- Ajusta las rutas y extensiones de archivo según tus nombres de archivos y formatos -->
            </ul>
        </div>
    </footer>
</body>
</html>