<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" type="image/png" href="../static/img/logo.png">
</head>
<body>

<table>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Parentesco</th>
        <th scope="col">Paciente_Titular_Id</th>
        <!--
        <th scope="col">DNI</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Sexo</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Email</th>
        <th scope="col">Contraseña</th>
        <th scope="col">Rol</th>
        <th scope="col">Fecha de alta</th>
        th scope="col">ID Imagen</th>
        <th scope="col" sec:authorize="hasRole('ADMIN')">Modificar</th>
        <th scope="col" sec:authorize="hasRole('ADMIN')">Dar de baja</th>
        -->
    </tr>
    </thead>
    <tbody th:each="familiar : ${familiares}">
    <tr>
        <th scope="row" th:text="${familiar.id}"></th>
        <td th:text="${familiar.parentesco}"></td>
        <td th:text="${usuario.pacienteTitular}"></td>
        <div>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/profesional/agregar_familiar}">
                <button type="button">
                    Agregar Familiar
                </button>
            </a>
        </div>
        <!--
        <td th:text="${usuario.dni}"></td>
        <td th:text="${usuario.fechaNacimiento}"></td>
        <td th:text="${usuario.sexo}"></td>
        <td th:text="${usuario.telefono}"></td>
        <td th:text="${usuario.email}"></td>
        <td th:text="${usuario.password}"></td>
        <td th:text="${usuario.rol}"></td>
        <td th:text="${usuario.fechaAlta}"></td>
         <td th:text="${usuario.imagen}"></td>
        <td th:text="${usuario.altaSistema}"></td>
        <td>
            <div>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{/usuario/modificar/__${usuario.id}__}"><button type="button" class="btn btn-warning btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square mb-1" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg> Modificar</button></a>
            </div>
        </td>
        <td><a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/usuario/baja/__${usuario.id}__}">
            <input type="hidden" th:value="${id}" name="id">
            <button type="button" class="btn btn-danger btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square mb-1" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg> Desactivar </button></a></td>
                -->
    </tbody>
</table>

</body>
</html>