<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Parentesco</th>
        <th scope="col">Paciente_Titular_Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">DNI</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Sexo</th>

    </tr>
    </thead>
    <tbody th:each="familiar : ${familiares}">
    <tr>
        <th scope="row" th:text="${familiar.id}"></th>
        <td th:text="${familiar.parentesco}"></td>
        <td th:text="${familiar.pacienteTitular}"></td>
        <td th:text="${familiar.nombre}"></td>
        <td th:text="${familiar.apellido}"></td>
        <td th:text="${familiar.dni}"></td>
        <td th:text="${familiar.fechaNacimiento}"></td>
        <td th:text="${familiar.sexo}"></td>
        <div>
                <button type="button">
                    Agregar Familiar
                </button>
            </a>
        </div>

    </tbody>
</table>

</body>
</html>