<!DOCTYPE html>
    <html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/formularios.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet">
    <title>FORMULARIO REGISTRO</title>
</head>

<body>

    <nav class="">
        <a class="logo" href="/">
            <img src="/img/logoColor.png" alt="" class="logo">
        </a>
        <a href="">Pacientes</a>
        <a href="">Profesionales</a>
        <a href="">Turnos</a>
        <a href="">Especialidades</a>
        <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" fill="currentColor"
                class="bi bi-person-plus mb-1 me-1" viewBox="0 0 16 16">
                <path
                    d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                <path fill-rule="evenodd"
                    d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
            </svg>Registrarse</a>
        <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" fill="currentColor"
                class="bi bi-box-arrow-in-right mb-1 me-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                <path fill-rule="evenodd"
                    d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
            </svg>Iniciar sesión</a>
    </nav>

    <main class="cuerpo-main">
        <div class="imagen-principal">
            <h2 hidden style="color: white;">desde la imagen principal</h2>
        </div>
        <div class="grid-principal">
            <div class="sidebar">
                <ul class="input-sidebar">
                    <li>
                        <h3>Nombre:</h3>
                        <p>"Por favor, ingrese su nombre completo tal como aparece en su documento de identidad. Este campo es
                            obligatorio para completar el registro en nuestro sistema."</p>
                    </li>
                    <li>
                        <h3>Apellido:</h3>
                        <p>"Proporcione su apellido completo según su documento oficial. Asegúrese de ingresar la información
                            correctamente para una identificación precisa en nuestro sistema."</p>
                    </li>
                    <li>
                        <h3>DNI:</h3>
                        <p>"Ingrese su número de Documento Nacional de Identidad (DNI). Este número es esencial para su identificación
                            en nuestro sanatorio. Asegúrese de ingresar los dígitos correctamente."</p>
                    </li>
                    <li>
                        <h3>Contraseña:</h3>
                        <p>"Seleccione una contraseña segura que cumpla con nuestros requisitos de seguridad. La contraseña debe tener
                            al menos 8 caracteres, incluyendo letras y números. ¡Mantenga su cuenta protegida!"</p>
                    </li>
                    <li>
                        <h3>Confirmación de Contraseña</h3>
                        <p> "Confirme la contraseña ingresada anteriormente. Esto ayuda a prevenir errores y asegura que haya ingresado
                            la contraseña deseada. Asegúrese de que coincida exactamente con la contraseña anterior."</p>
                    </li>
                </ul>                
            </div>

            <form class="formulario" th:action="@{/registrar}" method="POST">
                <legend class="tipografia">Completá el Formulario de Registro para darte de alta:</legend>
                <div class="contenedor-inputs">
                    <div class="inputs">
                        <label class="tipografia">Nombre</label>
                        <input class="input-text" id="nombre-registro" name="nombre" placeholder="Indique su Nombre">
                    </div>
                    <div class="inputs">
                        <label class="tipografia">Apellido</label>
                        <input class="input-text" id="apellido-registro" name="apellido"
                            placeholder="Indique su Apellido">
                    </div>
                    <div class="inputs">
                        <label class="tipografia">DNI</label>
                        <input class="input-text" type="number" id="dni-registro" name="dni" min="1"
                            placeholder="Indique su DNI sin puntos ni comas">
                    </div>
                    <div class="inputs">
                        <label class="tipografia">Contraseña</label>
                        <input class="input-text" type="password" id="password-registro" name="password"
                            placeholder="Indique su Contraseña">
                    </div>
                    <div class="inputs">
                        <label class="tipografia">Confirme Contraseña</label>
                        <input class="input-text" type="password2" id="password2-registro" name="password2"
                            placeholder="Confirme su Contraseña">
                    </div>
                    <!--<div class="inputs">
                        <label class="tipografia">Fecha de Nacimiento</label>
                        <input class="input-text" type="date" id="fecha-registro" name="fecha"
                            placeholder="Indique su Fecha de Nacimiento">
                    </div>-->
                   <!--<div class="inputs opcion-genero">
                        <label class="tipografia" for="genero-registro">Genero</label>
                        <select class="input-text" id="inputGroupSelect" name="sexo">
                            <option selected>Elige...</option>
                            <option th:each="sexo : ${generos}" th:value="${sexo}" th:text="${sexo}"></option>
                        </select>
                    </div>-->
                </div>
                <div class="">
                    <button class="boton-enviar tipografia" type="submit">Registrarse</button>
                    <p class="warnings" id="warnings"></p>
                </div>

            </form>
        </div>
    </main>

    <footer class="pie">
        <div class="links">
            <div class="seccion-nav">
                <p class="titulo-sec">Nosotros</p>
                <div>
                    <a>Autoridades</a>
                    <a>Preguntas frecuentes</a>
                    <a>Términos y condiciones</a>
                </div>
            </div>
            <div class="seccion-nav">
                <p class="titulo-sec">Pacientes</p>
                <div>
                    <a>Lorem ipsum</a>
                    <a>Lorem ipsum</a>
                    <a>Lorem ipsum</a>
                </div>
            </div>
            <div class="seccion-nav">
                <p class="titulo-sec">Contacto</p>
                <div>
                    <a>Lorem ipsum</a>
                    <a>Lorem ipsum</a>
                    <a>Lorem ipsum</a>
                </div>
            </div>
        </div>
        <div class="tyc">
            &copy; 2023 Sanatorio Vitalis. Todos los derechos reservados.
        </div>
    </footer>

</body>
</html>